/*********** GLOBAL ***********/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
* {
  font-family: Lato, sans-serif;
}

/*********** Header Elements ***********/

h1 {
  font-size: 30px;
  /*margin-bottom: .5em;*/
  margin-bottom: 20px;
  margin-top: 70px;
  font-weight: 900;
}

h2 {
  font-size: 60%;
  margin-bottom: .25em;
  font-weight: 700;
}

h4 {
  text-align: left;
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 30px;
}

/*********** Content ***********/

body {
  background-color: #EEE2DC;
}

form {
  text-align: center;
}

/* Inputs */

input,
select,
textarea {
  width: 20em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

input[type="text"],
input[type="email"],
input[type="text"] {
  padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="text"],
textarea {
  border-radius: 5px;
  font-size: 14px;
}

/* Preferred Contact Type */

label[for="contact"] {
  margin-left: 10px;
  font-weight: 600;
}

input[type="radio"] {
  width: 40px;
  margin-right: -15px;
}

/* Preferred Contact Method */

select {
  height: 30px;
  background-color: #ffffff;
  font-size: 14px;
}

/* Message Field */

textarea #registration_info span {
  color: red;
}

/* Buttons */

input[type="button"] {
  font-size: 16px;
  width: 200px;
  display: block;
}

#reset {
  display: block;
  width: 75px;
  margin: 0 auto;
}
